<footer class="text-gray-600 body-font shadow-inner bg-slate-100">
    <div class="container px-5 py-16 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex items-center" href="/">
            <img width="75" height="75" src="/static/images/pingpongLogo.webp" alt="Ping Pong Learning Centre Logo">
            <span class="font-bold flex flex-col text-lg" style="color: #ff236c;">
                <div>Ping Pong</div>
                <div>Learning Centre</div>
            </span>
        </a>
        <p class="my-2 text-sm text-gray-500">Where every child matters, where every moment counts!</p>
        <div class="social flex justify-center md:justify-start items-center space-x-6">
          <a aria-label="Facebook" href="https://www.facebook.com/Pingponglearningcentre/" target="_blank" rel="noopener noreferrer">
            <svg class="hover:fill-blue-500" fill="#ff236c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="25px" height="25px"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"/></svg>
          </a>
          <a aria-label="Instagram" href="https://www.instagram.com/pingponglearningcentre/" target="_blank" rel="noopener noreferrer">
            <svg class="hover:fill-rose-700" fill="#ff236c" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="25px" height="25px"><path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"/></svg>            </a>
          </a>
          <a aria-label="Linkedin" href="https://www.linkedin.com/in/ping-pong-learning-centre-8b5444243/" target="_blank" rel="noopener noreferrer">
            <svg class="hover:fill-sky-700" fill="#ff236c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="25px" height="25px"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M10.496,8.403 c0.842,0,1.403,0.561,1.403,1.309c0,0.748-0.561,1.309-1.496,1.309C9.561,11.022,9,10.46,9,9.712C9,8.964,9.561,8.403,10.496,8.403z M12,20H9v-8h3V20z M22,20h-2.824v-4.372c0-1.209-0.753-1.488-1.035-1.488s-1.224,0.186-1.224,1.488c0,0.186,0,4.372,0,4.372H14v-8 h2.918v1.116C17.294,12.465,18.047,12,19.459,12C20.871,12,22,13.116,22,15.628V20z"/></svg>            
          </a>
        </div>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center justify-end">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-2xl'>Main Menu</h2>
          <ul class="list-none mb-10">
            <li>
              <a href="/" class="text-gray-600 hover:text-gray-800">Home</a>
            </li>
            <li>
              <a href="/about" class="text-gray-600 hover:text-gray-800">About</a>
            </li>
            <li>
              <a href="/our-programs" class="text-gray-600 hover:text-gray-800">Our Programs</a>
            </li>
            <li>
              <a href="/our-gallery" class="text-gray-600 hover:text-gray-800">Our Gallery</a>
            </li>
            <li>
              <a href="/admission" class="text-gray-600 hover:text-gray-800">Admission</a>
            </li>
            <li>
              <a href="/contact-us" class="text-gray-600 hover:text-gray-800">Contact us</a>
            </li>
          </ul>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-2xl'>Quick Links</h2>
          <ul class="list-none mb-10">
            <li>
              <a href="/faq" class="text-gray-600 hover:text-gray-800">FAQ</a>
            </li>
            <li>
              <a href="/privacy-policy" class="text-gray-600 hover:text-gray-800">Privacy Policy</a>
            </li>
            <li>
              <button data-bs-toggle="modal" data-bs-target="#modal" class="text-gray-600 hover:text-gray-800 cursor-pointer">Book a Visit</button>
            </li>
            <li>
              <a href="mailto:pingponghwr@gmail.com" class="text-gray-600 hover:text-gray-800">Email Us</a>
            </li>
            <li>
              <a href="tel:+91 7249999934" class="text-gray-600 hover:text-gray-800">Call Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='flex flex-col justify-between px-7 xl:px-12 space-y-7 lg:space-y-0 lg:flex-row'>
      <div>
          <h3 class='flex items-center font-semibold justify-center lg:justify-start'><span class='text-3xl'></span>
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="30px" fill="#ff236c"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/><circle cx="12" cy="9" r="2.5"/></svg>
            <span style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-xl'>Location</span>
          </h3>
          <div class='text-gray-600 ml-[30px] text-center lg:text-left'>
            Above Pushpak Gas Service, 
            <br>
            Opposite Gurukul Kangri pharmacy,
            <br>
            Singhdwar, Haridwar
            <br>
            Pincode :  249404
          </div>
      </div>
      
      <div>
          <h3 class='flex items-center font-semibold justify-center lg:justify-start'><span class='text-3xl'></span>
            <svg xmlns="http://www.w3.org/2000/svg" height="27px" viewBox="0 0 24 24" width="27px" fill="#ff236c"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>
            <span style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-xl ml-[2px]'>Work Time</span>
          </h3>
          <div class='text-gray-600 ml-[30px] text-center lg:text-left'>
            Monday to Saturday 
            <br>
            (8:00 AM - 2:00 PM)
            <br>
            Sundays Closed
          </div>
      </div>
      
      <div>
          <h3 class='flex items-center font-semibold justify-center lg:justify-start'><span class='text-3xl'></span>
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 0 24 24" width="28px" fill="#ff236c"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/></svg>
            <span style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-xl ml-[2px]'>Email</span>
          </h3>
          <div class='text-gray-600 ml-[30px] text-center lg:text-left'>
            pingponghwr@gmail.com
          </div>
      </div>
      
      <div>
          <h3 class='flex items-center font-semibold justify-center lg:justify-start'><span class='text-3xl'></span>
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 0 24 24" width="28px" fill="#ff236c"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z"/></svg>
            <span style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-xl ml-[2px]'>Contact</span>
          </h3>
          <div class='text-gray-600 ml-[30px] text-center lg:text-left'>
            +91 7249999934
            <br>
            +91 8868881138
          </div>
      </div>
    </div>

    <div class='text-center pb-5 mt-12'>
      <span class='text-base md:text-lg font-semibold'>
          Copyright &copy; <%= currentYear %> &nbsp;|&nbsp; 
          <span style="color: #ff236c;" class='font-bold'>Ping Pong Learning Centre</span> 
          &nbsp;|&nbsp; 
          All rights reserved
      </span>
  </div>
</footer>