<span onclick="backToTop()" id="backToTop" class="fixed bottom-20 right-5 cursor-pointer z-50 w-4 h-4 rounded-full hidden">
    <img src="/static/images/crayons.webp" alt="Back To Tope Crayon Icon">
</span>