<!--  -->
<%- include('Layouts/header.ejs') %>

<!--  -->
<section style="background-image: url('/static/images/aboutBackgroundImage.webp');" id="aboutBackgroundImage">
    <div>
      <h2 style="background-color: rgba(0, 0, 0, 0.5); font-family: Bubblegum Sans, sans-serif; width: fit-content;" class="font-bold mx-auto px-3 py-1 text-white rounded-full text-[30px] md:text-[40px] lg:text-[50px]">About Our Ping Pong</h2>
    </div>
  </section>

  <!--  -->
  <section id="aboutSection" class='py-5 flex flex-col px-1 items-center md:px-10 lg:px-16 xl:px-[103px] lg:flex-row lg:my-7 space-y-7 lg:space-y-0'>
    <div class='mt-3 w-3/4 text-center sm:w-2/3 md:w-1/2'>
      <img class="rounded-lg" height="300" width="500" src="/static/images/aboutOurPingPong.webp" alt="About Ping Pong Learning Centre Image">
    </div>
    <div class='w-full lg:w-[70%] lg:mx-3'>
      <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-xl text-center font-bold sm:text-2xl md:text-3xl lg:text-3xl lg:mx-2'>Ping Pong Learning Centre</h2>
      <p class='text-sm px-3 text-slate-500 mt-3 text-justify sm:text-base md:text-base lg:text-base lg:px-0 lg:mx-2'>
        We began our journey on March 15th 2016 with a vision. We wanted to start off a learning centre that could cater to the needs of the present era where children could learn, play and grow in a secure and loving environment. We leave no stone unturned in providing our children the best of everything because these are the years where they for the first time come out of the protective shell of their parents and explore the outside world. We firmly believe that every child is different and unique in his or her way and hence they must be nurtured patiently. Our teachers relentlessly put in the best of their efforts and experience to help our tiny tots in realizing their true potential.
      </p>
    </div>
  </section>

  <!--  -->
  <section id="mission" class="text-gray-600 body-font pt-5 pb-8">
    <div class="container px-5 mx-auto flex flex-col">
      <div class="lg:w-4/6 mx-auto">
        <div class="flex flex-col sm:flex-row">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-5">
            <div style="background-color: #de002c;" class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
              <img src="/static/images/ourmission.webp" alt="Ping Pong Learning Centre Mission Image">
            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class="mb-3 text-lg font-semibold sm:text-xl md:text-2xl">Our Mission</h2>
            </div>
          </div>
          <div class="sm:pl-8 sm:py-5 sm:border-l border-gray-300 sm:border-t-0 border-t sm:mt-0 text-center sm:text-left pt-3 sm:pt-0">
            <ul class='text-sm text-slate-500 text-justify sm:text-base md:text-base list-disc'>
            <li><span class="text-slate-900 font-bold">To let the children be children : </span>Innocence is an essence of childhood that must be retained at all costs. No matter how much competition exists in society today, we believe that every flower blooms when its time is perfect!</li>
            <li><span class="text-slate-900 font-bold">Stress-Free Learning : </span>There might be a rat race around us, but childhood is certainly not the right time to take a part in that race. One grows and learns when there is no stress involved in the process of learning!</li>
            <li><span class="text-slate-900 font-bold">Safety and Security : </span>They are small, vulnerable, and innocent; hence, our prime concern always remains that we provide the utmost care, security, and safety to our tiny tots. </li>
            <li><span class="text-slate-900 font-bold">Help children in realizing their uniqueness : </span>We see comparisons happening everywhere when it comes to the habits, grasping power, and temperament of children. We however firmly stick to the fact that every child is different, unique, and special in their own sense. A child grows in life only when he/she understands their uniqueness. We love to catch hold of their hand while they take on this journey where they discover what they are made for!</li>
            <li><span class="text-slate-900 font-bold">Teaching them skills : </span>Since it’s their first step outside their homes, it is our responsibility to help them acquire social, communication, and emotional regulation skills. Right from how to speak; to how to eat their food themselves to how to stand properly during the morning assembly, we prepare them well before they march onto their bigger schools.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  -->
  <section id="vision" class="text-gray-600 body-font pt-8 pb-8">
    <div class="container px-5 mx-auto flex flex-col">
      <div class="lg:w-4/6 mx-auto">
        <div class="flex flex-col sm:flex-row">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-5">
            <div style="background-color: #faf403;" class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
              <img src="/static/images/ourvision.webp" alt="Ping Pong Learning Centre Vision Image">
            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class="mb-3 text-lg font-semibold sm:text-xl md:text-2xl">Our Vision</h2>
            </div>
          </div>
          <div class="sm:pl-8 sm:py-5 sm:border-l border-gray-300 sm:border-t-0 border-t sm:mt-0 text-center sm:text-left pt-3 sm:pt-0">
            <ul class='text-sm text-slate-500 text-justify sm:text-base md:text-base list-disc'>
            <li><span class="text-slate-900 font-bold">Activity Oriented Learning : </span>Textbook knowledge is essential but at the same time, a child must know what an apple looks and tastes like!</li>
            <li><span class="text-slate-900 font-bold">Overall Development : </span>Instilling confidence and facing stage fright are the two key areas where we work hard to help our children in keeping pace with the current environment.</li>
            <li><span class="text-slate-900 font-bold">Imagination Building : </span>The times have changed today and it would not be wrong to say that creativity is the key to success these days. Creativity blooms only when one struggles and builds up an imagination of their own. Story-telling is an effective technique where we all make up an imaginatory world and let our children play in it!</li>
            <li><span class="text-slate-900 font-bold">Trained and Committed Professionals : </span>For the entire time when the child is in the school, he/she is under the protective shade of the teacher. Hence we make sure that we hire people who are efficient and know the responsibilities that come with the job. We as an institution always train our teachers before we hand them our little gems.</li>
            <li><span class="text-slate-900 font-bold">Safe and Secure Environment : </span>They are small, vulnerable, and innocent; hence, our prime concern always remains that we provide the utmost care, security, and safety to our tiny tots.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  -->
  <%- include('Layouts/footer.ejs') %>

  <!--  -->
  <%- include('Layouts/whatsapp.ejs') %>

  <!--  -->
  <%- include('Layouts/toTop.ejs') %>

  <script>
    document.getElementById('about').classList.remove('hover:border-b-[4px]')
    document.getElementById('about').style.borderBottomWidth="4px"
  </script>