<!--  -->
<%- include('Layouts/header.ejs') %>

<!--  -->
<section style="background-image: url('/static/images/contactUsBackgroundImage.webp');" id="contactBackgroundImage">
    <div>
        <h2 style="background-color: rgba(0, 0, 0, 0.5); font-family: Bubblegum Sans, sans-serif; width: fit-content;" class="font-bold mx-auto px-3 py-1 text-white rounded-full text-[30px] md:text-[40px] lg:text-[50px]">Contact Us</h2>
    </div>
  </section>

  <!--  -->
  <section id="geitInTouch" class='py-8 flex flex-col px-1 items-center md:px-10 lg:px-16 xl:px-20 md:flex-row md:my-4 space-y-5 md:space-y-0 md:space-x-5'>
    <div class='w-full md:w-2/5'>
      <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-xl text-center font-bold sm:text-[23px] md:text-[27px] md:text-left mb-3'>Get in touch with us</h2>
      <div class='text-sm text-slate-500 mt-3 sm:text-base md:text-base lg:text-base space-y-3 md:space-y-0'>
        <!--  -->
        <div id="getInTouchInfo" class="flex justify-evenly md:block">
          <div class="mt-3">
            <div class="flex items-center justify-center md:justify-start">
              <div class='h-8 w-8 rounded-full'>
                <img src="/static/images/location.webp" alt="Ping Pong Learning Centre Location Icon">
              </div>
              <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-[22px]'>Our School</h2>
            </div>
            <p class="text-[15px] md:text-base md:ml-8 hidden md:block lg:hidden mt-[6px]">
              Above Pushpak Gas Service,
              <br> 
              Opposite Gurukul Kangri Pharmacy,
              <br>
              Singhdwar, Haridwar, Pincode :  249404
            </p>
            <p class="text-[15px] md:text-base md:ml-8 block md:hidden lg:block text-center md:text-left mt-[6px]">
              Above Pushpak Gas Service,
              <br> 
              Opposite Gurukul Kangri Pharmacy,
              <br>
              Singhdwar, Haridwar, 
              <br>
              Pincode :  249404
            </p>
          </div>
          <!--  -->
          <div class="mt-3">
            <div class="flex items-center justify-center md:justify-start">
              <div class='h-8 w-8 rounded-full'>
                <img src="/static/images/clock.webp" alt="Ping Pong Learning Centre Location Open Hours Icon">
              </div>
              <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-[22px] ml-1'>Open Hours</h2>
            </div>
            <p class="text-[15px] md:text-base ml-9 hidden md:block lg:hidden mt-[6px]">
              Monday to Saturday (8:00 AM - 2:00 PM)
              <br>
              Sundays Closed
            </p>
            <p class="text-[15px] md:text-base ml-9 block md:hidden lg:block text-center md:text-left mt-[6px]">
              Monday to Saturday 
              <br>
              (8:00 AM - 2:00 PM)
              <br>
              Sundays Closed
            </p>
          </div>
        </div>
        <div id="getInTouchInfo" class="flex justify-evenly md:block">
          <!--  -->
          <div class="mt-3">
            <div class="flex items-center justify-center md:justify-start">
              <div class='h-8 w-8 rounded-full'>
                <img src="/static/images/email.webp" alt="Ping Pong Learning Centre Email Icon">
              </div>
              <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-[22px] ml-1'>Email Us</h2>
            </div>
            <p class="text-[15px] md:text-base md:ml-8 text-center md:text-left mt-[6px]">
              pingponghwr@gmail.com
            </p>
          </div>
          <!--  -->
          <div class="mt-3">
            <div class="flex items-center justify-center md:justify-start">
              <div class='h-8 w-8 rounded-full'>
                <img src="/static/images/phone.webp" alt="Ping Pong Learning Centre Contact Icon">
              </div>
              <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-[22px] ml-1'>Call Us</h2>
            </div>
            <p class="text-[15px] md:text-base md:ml-8 text-center md:text-left mt-[6px]">
              +91 7249999934
              <br>
              +91 8868881138
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='w-4/5 md:w-3/5 lg:w-3/4'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3457.8662242564983!2d78.13083571481204!3d29.92575323112536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3909463f4fe5f9a1%3A0xc03a658b9c1410b3!2sPing%20Pong%20Learning%20Centre!5e0!3m2!1sen!2sin!4v1654057809013!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>

  <!--  -->
  <section id="messageUs" class='py-10 px-6 md:px-10 lg:px-16 xl:px-[110px] lg:flex-row lg:my-5'>
    <div style="border-color: #EDF1FC;" class="border-[2px] rounded-[15px] py-5">
      <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class="text-xl md:text-[22px] lg:text-3xl text-center">Send Us A Message</h2>
      <form class="px-10" action="/send-message" method="post">
        <div class="grid gap-6 mb-6 lg:grid-cols-2 mt-6">
          <div>
              <label for="nam" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Name <sup class="text-red-500 text-sm md:text-base">*</sup></label>
              <input style="outline-color: #ff236c;" type="text" id="nam" name="name" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Name">
              <div id="name-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Name is required</div>
          </div>
          <div>
              <label for="cont" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Contact Number <sup class="text-red-500 text-sm md:text-base">*</sup></label>
              <input style="outline-color: #ff236c;" type="number" id="cont" name="contactNumber" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Contact Number">
              <div id="cont-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Contact Number is required</div>
              <div id="cont-format" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Invalid Contact Number</div>
              <div id="cont-start" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Contact Number should not start with 0</div>
          </div>
          <div>
              <label for="mail" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Email <sup class="text-red-500 text-sm md:text-base">*</sup></label>
              <input style="outline-color: #ff236c;" type="text" id="mail" name="email" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Email">
              <div id="mail-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Email is required</div>
              <div id="mail-format" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Invalid Email</div>
          </div>  
          <div>
              <label for="subj" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Subject <sup class="text-red-500 text-sm md:text-base">*</sup></label>
              <input style="outline-color: #ff236c;" type="tel" id="subj" name="subject" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Subject">
              <div id="subject-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Subject is required</div>
          </div>
        </div>
        <div>
          <div class="mb-6">
            <label for="msg" class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-gray-300">Message <sup class="text-red-500 text-sm md:text-base">*</sup></label>
            <textarea style="outline-color: #ff236c;" id="msg" name="message" cols="30" rows="5" class="bg-gray-50 border border-gray-300 text-gray-900 md:text-base text-sm rounded-lg block w-full p-2.5" placeholder="Message"></textarea>
            <div id="message-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Message is required</div>
          </div> 
        </div>
        <button style="background-color: #ff236c;" class="my-submit-button text-white px-3 py-1 rounded-md text-sm md:text-base" id="submitMessage" type="submit">Submit</button>
        <button style="background-color: #ff236c;" class="my-submit-button text-white px-3 py-1 rounded-md text-sm md:text-base" type="reset">Reset</button>
      </form>
    </div>
  </section>

  <!--  -->
  <section id="ourSocialMedia" class='py-10 px-1 md:px-10 lg:px-16 xl:px-[103px] lg:flex-row lg:my-5'>
    <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class="text-xl md:text-[22px] lg:text-3xl text-center">Connect With Us On Social Media</h2>
    <div class="social flex justify-center items-center space-x-6 mt-3">
      <a aria-label="Facebook" href="https://www.facebook.com/Pingponglearningcentre/" target="_blank" rel="noopener noreferrer">
          <svg class="hover:fill-blue-500" fill="#ff236c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"/></svg>
      </a>
      <a aria-label="Instagram" href="https://www.instagram.com/pingponglearningcentre/" target="_blank" rel="noopener noreferrer">
        <svg class="hover:fill-rose-700" fill="#ff236c" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="25px" height="25px"><path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"/></svg>            </a>
      </a>
      <a aria-label="Linkedin" href="https://www.linkedin.com/in/ping-pong-learning-centre-8b5444243/" target="_blank" rel="noopener noreferrer">
          <svg class="hover:fill-sky-700" fill="#ff236c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M10.496,8.403 c0.842,0,1.403,0.561,1.403,1.309c0,0.748-0.561,1.309-1.496,1.309C9.561,11.022,9,10.46,9,9.712C9,8.964,9.561,8.403,10.496,8.403z M12,20H9v-8h3V20z M22,20h-2.824v-4.372c0-1.209-0.753-1.488-1.035-1.488s-1.224,0.186-1.224,1.488c0,0.186,0,4.372,0,4.372H14v-8 h2.918v1.116C17.294,12.465,18.047,12,19.459,12C20.871,12,22,13.116,22,15.628V20z"/></svg>            
      </a>
    </div>
  </section>

  <!--  -->
  <%- include('Layouts/footer.ejs') %>

  <!--  -->
  <%- include('Layouts/whatsapp.ejs') %>
  
  <!--  -->
  <%- include('Layouts/toTop.ejs') %>

  <script>
    // 
    document.getElementById('contactUs').classList.remove('hover:border-b-[4px]')
    document.getElementById('contactUs').style.borderBottomWidth="4px"

    // 
    function ValidateEmail(mail) 
      {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
        {
          return (true)
        }
          return (false)
      }
      document.getElementById('submitMessage').addEventListener('click',(event)=>{

          if(document.getElementById('nam').value.length==0){
              document.getElementById('name-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('nam').value.length!=0){
              document.getElementById('name-req').style.display='none'
          }

          if(document.getElementById('cont').value.length==0){
              document.getElementById('cont-req').style.display='block'
              document.getElementById('cont-format').style.display='none'
              document.getElementById('cont-start').style.display='none'
              event.preventDefault()
          }
          else if(document.getElementById('cont').value.length!=0){
              if(document.getElementById('cont').value[0]=='0'){
                  document.getElementById('cont-req').style.display='none'
                  document.getElementById('cont-format').style.display='none'
                  document.getElementById('cont-start').style.display='block'
                  event.preventDefault()
              }
              else{
                  if(document.getElementById('cont').value.length==10){
                      document.getElementById('cont-req').style.display='none'
                      document.getElementById('cont-format').style.display='none'
                      document.getElementById('cont-start').style.display='none'
                  }
                  else{
                      document.getElementById('cont-req').style.display='none'
                      document.getElementById('cont-format').style.display='block'
                      document.getElementById('cont-start').style.display='none'
                      event.preventDefault()
                  }
              }
          }

          if(document.getElementById('mail').value.length==0){
              document.getElementById('mail-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('mail').value.length!=0){
              if(ValidateEmail(document.getElementById('mail').value)){
                  document.getElementById('mail-req').style.display='none'
                  document.getElementById('mail-format').style.display='none'
              }
              else{
                  document.getElementById('mail-req').style.display='none'
                  document.getElementById('mail-format').style.display='block'
                  event.preventDefault()
              }
          }

          if(document.getElementById('subj').value.length==0){
              document.getElementById('subject-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('subj').value.length!=0){
              document.getElementById('subject-req').style.display='none'
          }

          if(document.getElementById('msg').value.length==0){
              document.getElementById('message-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('msg').value.length!=0){
              document.getElementById('message-req').style.display='none'
          }
      })

      // 
      if(document.getElementById('messageSentAlert')){
        Swal.fire({
          template: '#messageSentAlert'
        })
      }
  </script>