<!--  -->
<%- include('Layouts/header.ejs') %>

<!--  -->
<section style="background-image: url('/static/images/faqBackgroundImage.webp');" id="faqBackgroundImage">
    <div>
        <h2 style="background-color: rgba(0, 0, 0, 0.5); font-family: Bubblegum Sans, sans-serif; width: fit-content;"
            class="font-bold mx-auto px-3 py-1 text-white rounded-full text-[30px] md:text-[40px] lg:text-[50px]">F.A.Q.</h2>
    </div>
</section>

<!--  -->
<section class="text-gray-600 body-font">
    <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;"
        class='md:text-xl text-center font-bold sm:text-[23px] md:text-[27px]'>Most Asked Questions</h2>
    <div class="container px-5 py-8 mx-auto flex flex-wrap">
        <!--  -->
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq1.webp" alt="FAQ 1 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">What is the age criteria for the
                        admission in the school ?</h2>
                    <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base list-disc">
                        <li>Playgroup - 2 Years</li>
                        <li>Nursery - 3 Years</li>
                        <li>LKG - 4 Years</li>
                        <li>UKG - 5 Years</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq2.webp" alt="FAQ 2 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">What are the facilities school
                        provides to their children ?</h2>
                    <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base list-disc">
                        <li>Personalised Application</li>
                        <li>A/C Van</li>
                        <li>Ball Pool</li>
                        <li>Slides</li>
                        <li>Spacious Activity Room</li>
                        <li>Smart Class</li>
                        <li>Water Pool</li>
                        <li>Tunnel</li>
                        <li>Library</li>
                        <li>Age Appropriate Furniture</li>
                        <li>Playground</li>
                        <li>Safe and Loving Environment</li>
                        <li>Story Telling Corner</li>
                        <li>Doll House</li>
                        <li>Jungle Gym</li>
                        <li>Health Check-up</li>
                        <li>Sleeping Room(Rest Room)</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq3.webp" alt="FAQ 3 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">What are the school timing ?</h2>
                    <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base list-disc">
                        <li>Summer - 09:00 AM to 12:00 PM</li>
                        <li>Winter - 09:30 AM to 12:30 PM</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq4.webp" alt="FAQ 4 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">Do you have a Day care ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        Yes, we do have day care facility for the children of age 2 years to 10 years from morning
                        08:30 AM to 02:00 PM.
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq5.webp" alt="FAQ 5 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">What are the documents parents
                        require for admission ?</h2>
                    <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base list-disc">
                        <li>Vaccination Card</li>
                        <li>Birth Certificate</li>
                        <li>6 Photograph of the Child</li>
                        <li>1 Photograph of your Local Guardian</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq6.webp" alt="FAQ 6 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">Do you provide transport facility for school children ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        Yes, school has its own van service and driver is daily accompanied by lady helper.
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq7.webp" alt="FAQ 7 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">Is the transport via school van safe ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        Yes, it is safe due to three reason.
                        <ul class="list-disc text-[15px] text-slate-500 mt-2 text-justify md:text-base"> 
                            <li>Child will be handed to a local guardian whose name is mentioned in safety card.</li>
                            <li>Van is GPS enabled and tracked during transit.</li>
                            <li>Van driver is always accompanied by a lady helper.</li>
                        </ul>

                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq8.webp" alt="FAQ 8 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">What kind of activities you conduct for the children ?</h2>
                    <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base list-disc">
                        <li>Tearing and Pasting</li>
                        <li>Beads Pasting</li>
                        <li>Day Mouldings</li>
                        <li>Colour Recognition</li>
                        <li>Festival Celebration</li>
                        <li>Field Trips</li>
                        <li>Birthday Celebration</li>
                        <li>Story Telling</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq9.webp" alt="FAQ 9 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">Do you have any outdoor activity ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        Yes, we organize field trips for the school children to places like Temple, Super Market, Post office and many more.
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq10.webp" alt="FAQ 10 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">What are the various methods school uses to teach their children ?</h2>
                    <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base list-disc">
                        <li>Story Telling</li>
                        <li>Audio Visual</li>
                        <li>Art and Craft</li>
                        <li>Flash Cards</li>
                        <li>Role Play Models</li>
                        <li>Puppet Theatre</li>
                        <li>Stage Presentation</li>
                        <li>Puzzle Solving</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq11.webp" alt="FAQ 11 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">Do you have school uniform ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        Yes, we have a school uniform of blue check and bottle green combination.
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq12.webp" alt="FAQ 12 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">How many courses do you offer ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        Play, Nursery, LKG, UKG
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq13.webp" alt="FAQ 13 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">Are the admission open throughout the year ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        Yes, Admission are open throughout the year.
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq14.webp" alt="FAQ 14 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">Are the teachers and staff trained ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        Proper training is given to all the teachers on a weekly level. All teachers are well trained and experienced.
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq15.webp" alt="FAQ 15 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">Do you provide meals ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        No, presently we do not provide meals.
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div style="background-color: #ff236c;"
                class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
            </div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                    <img src="/static/images/faq16.webp" alt="FAQ 16 Icon">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">How do you prepare children for the formal school ?</h2>
                    <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                        We focus on 7 domains of Early Childhood  Development which includes Language skills,  Cognitive skills, Gross Motor skills, Fine Motor skills, Self-help and adaptive skills, Social and emotional skills and Spiritual and Moral skills. We also teach them alphabets, vocabulary, numbers, colour concepts and much more which they require to know before they join any formal school. We also focus on personality development.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  -->
<%- include('Layouts/footer.ejs') %>

<!--  -->
<%- include('Layouts/whatsapp.ejs') %>

<!--  -->
<%- include('Layouts/toTop.ejs') %>