<!--  -->
<%- include('Layouts/header.ejs') %>

<!--  -->
<section style="background-image: url('/static/images/ourProgramsBackgroundImage.webp');" id="ourProgramsBackgroundImage">
    <div>
        <h2 style="background-color: rgba(0, 0, 0, 0.5); font-family: Bubblegum Sans, sans-serif; width: fit-content;" class="font-bold mx-auto px-3 py-1 text-white rounded-full text-[30px] md:text-[40px] lg:text-[50px]">Our Programs</h2>
    </div>
 </section>

 <!--  -->
 <section id="toddlerTrainingProgram" class='pb-12 flex flex-col px-1 items-center md:px-10 lg:px-16 xl:px-[103px] lg:flex-row lg:mb-8'>
     <div class='w-full lg:w-[70%] lg:mx-3'>
       <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg text-center font-bold sm:text-xl md:text-2xl lg:text-left lg:text-2xl lg:mx-2'>Toddler Training (1.5 to 2 Years)</h2>
       <h2 style="font-family: Bubblegum Sans, sans-serif;" class="text-slate-500 text-base text-center font-bold sm:text-lg md:text-xl lg:text-left lg:text-xl lg:mx-2">Duration : 1.5 Hours / Day</h2>
       <p class='text-sm px-3 text-slate-500 mt-3 text-justify sm:text-base md:text-base lg:text-base lg:px-0 lg:mx-2'>Our Parent-Toddler program is specially designed to help toddlers prepare for Preschool. As a part of this programme, toddlers and their parents attend a 1 and a half hour session where toddlers learn through play and a wide variety of child-centred activities. Parents and Toddlers participate together in Art, Music & Movement, Gym, Storytime, Sensorial play etc. This program helps in the physical, social, emotional and intellectual development of the children while feeling the support comfort and confidence in the company of their parents. The student-teacher ratio for the Parent-Toddler Program is 10:1, and the duration of the programme is 1 and a half hour session.</p>
     </div>
     <div class='mt-3 w-3/4 text-center sm:w-2/3 md:w-1/2'>
       <img class="rounded-lg" height="300" width="500" src="/static/images/toddlerProgram.webp" alt="Toddler Program Image">
     </div>
 </section>
 
 <!--  -->
 <section id="playgroupProgram" class='py-12 flex flex-col px-1 items-center md:px-10 lg:px-16 xl:px-[103px] lg:flex-row lg:my-8'>
     <div class='mt-3 w-3/4 text-center sm:w-2/3 md:w-1/2 order-2 lg:order-1'>
         <img class="rounded-lg" height="300" width="500" src="/static/images/playgroupProgram.webp" alt="Playgroup Program Image">
     </div>
     <div class='w-full lg:w-[70%] lg:mx-3 order-1 lg:order-2'>
       <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg text-center font-bold sm:text-xl md:text-2xl lg:text-left lg:text-2xl lg:mx-2'>Playgroup (2 Years)</h2>
       <h2 style="font-family: Bubblegum Sans, sans-serif;" class="text-slate-500 text-base text-center font-bold sm:text-lg md:text-xl lg:text-left lg:text-xl lg:mx-2">Duration : 3 Hours / Day</h2>
       <p class='text-sm px-3 text-slate-500 mt-3 text-justify sm:text-base md:text-base lg:text-base lg:px-0 lg:mx-2'>The most important years of learning begins as soon as a child is born since they start exploring the world. Maximum brain development happens during these years of life, keeping that in mind we have designed our playgroup program for a child. Although a child learns how to talk at home , in playgroup continuous interaction and exposure with other children of same age group and teachers help them to enhance their communication skills and develop confidence in them. Objective of our playgroup is to develop motor , oratory, social , Imaginative skills at early childhood age. This program also helps in Phonological awareness.Our goal is to make the most of those early years to foster a lifetime love of learning.We purely focus on active learning through play in this program.</p>
     </div>
 </section>

 <!--  -->
 <section id="nurseryProgram" class='py-12 flex flex-col px-1 items-center md:px-10 lg:px-16 xl:px-[103px] lg:flex-row lg:my-8'>
     <div class='w-full lg:w-[70%] lg:mx-3'>
       <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg text-center font-bold sm:text-xl md:text-2xl lg:text-left lg:text-2xl lg:mx-2'>Nursery (3 Years)</h2>
       <h2 style="font-family: Bubblegum Sans, sans-serif;" class="text-slate-500 text-base text-center font-bold sm:text-lg md:text-xl lg:text-left lg:text-xl lg:mx-2">Duration : 3 Hours / Day</h2>
       <p class='text-sm px-3 text-slate-500 mt-3 text-justify sm:text-base md:text-base lg:text-base lg:px-0 lg:mx-2'>A Pre school is a foundation for the future of a child. Our this program completely follows this motto. Our Nursery program helps to nurture the knowledge of children and develop social skills. We focus on teaching the children reading , writing and collaborative activities. Our Pre school curriculum is designed keeping in mind the physical and Intellectual development of a child.We encourage children to express their feelings and behave in a appropriate way, developing understanding of right and wrong.</p>
     </div>
     <div class='mt-3 w-3/4 text-center sm:w-2/3 md:w-1/2'>
       <img class="rounded-lg" height="300" width="500" src="/static/images/nurseryPrograms.webp" alt="Nursery Program Image">
     </div>
 </section>

 <!--  -->
 <section id="lkgProgram" class='py-12 flex flex-col px-1 items-center md:px-10 lg:px-16 xl:px-[103px] lg:flex-row lg:my-8'>
     <div class='mt-3 w-3/4 text-center sm:w-2/3 md:w-1/2 order-2 lg:order-1'>
         <img class="rounded-lg" height="300" width="500" src="/static/images/lkgPrograms.webp" alt="LKG Program Image">
     </div>
     <div class='w-full lg:w-[70%] lg:mx-3 order-1 lg:order-2'>
       <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg text-center font-bold sm:text-xl md:text-2xl lg:text-left lg:text-2xl lg:mx-2'>LKG (4 Years)</h2>
       <h2 style="font-family: Bubblegum Sans, sans-serif;" class="text-slate-500 text-base text-center font-bold sm:text-lg md:text-xl lg:text-left lg:text-xl lg:mx-2">Duration : 3 Hours / Day</h2>
       <p class='text-sm px-3 text-slate-500 mt-3 text-justify sm:text-base md:text-base lg:text-base lg:px-0 lg:mx-2'>Going to Lower Kindergarten is an important step for a child after pre school, it will help them to learn combinations of skills. The syllabus for our LKG program is composed to stimulate and satisfy the child's curosity. This level concentrates on developing further social skills while introducing Kindergarten activities in a fun, exciting and developmentally appropriate way. In addition to social development and inculcating good habits, social manners & etiquette the lower kindergarten focuses on letter recognition and sounds, handwriting, sight words, reading, readiness, simple math concepts, and exploring the world around us through science, social studies and technology.</p>
     </div>
 </section>

 <!--  -->
 <section id="ukgProgram" class='py-12 flex flex-col px-1 items-center md:px-10 lg:px-16 xl:px-[103px] lg:flex-row lg:my-8'>
     <div class='w-full lg:w-[70%] lg:mx-3'>
       <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg text-center font-bold sm:text-xl md:text-2xl lg:text-left lg:text-2xl lg:mx-2'>UKG (5 Years)</h2>
       <h2 style="font-family: Bubblegum Sans, sans-serif;" class="text-slate-500 text-base text-center font-bold sm:text-lg md:text-xl lg:text-left lg:text-xl lg:mx-2">Duration : 3 Hours / Day</h2>
       <p class='text-sm px-3 text-slate-500 mt-3 text-justify sm:text-base md:text-base lg:text-base lg:px-0 lg:mx-2'>The transition of a kid from a pre school to a primary school should be smooth enough hence at ping pong school,our this program curriculum is designed in such a manner to ensure the smooth switch for a kid to primary school. In Kindergarten, our child will grow socially and emotionally,Their ability to think, use and recognize language and fine motor skills will be developed through play, field trips, our personality development sessions and group interactions. The progress of child is monitored by participation in hands-on activities and observational assessments. Here, we ensure that each child's development is measured twice a year through well designed assessments.</p>
     </div>
     <div class='mt-3 w-3/4 text-center sm:w-2/3 md:w-1/2'>
       <img class="rounded-lg" height="300" width="500" src="/static/images/ukgPrograms.webp" alt="UKG Program Image">
     </div>
 </section>

 <!--  -->
 <section id="daycareProgram" class='py-12 flex flex-col px-1 items-center md:px-10 lg:px-16 xl:px-[103px] lg:flex-row lg:my-8'>
     <div class='mt-3 w-3/4 text-center sm:w-2/3 md:w-1/2 order-2 lg:order-1'>
         <img class="rounded-lg" height="300" width="500" src="/static/images/daycarePrograms.webp" alt="Daycare Program Image">
     </div>
     <div class='w-full lg:w-[70%] lg:mx-3 order-1 lg:order-2'>
       <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg text-center font-bold sm:text-xl md:text-2xl lg:text-left lg:text-2xl lg:mx-2'>Daycare (2 to 10 Years)</h2>
       <h2 style="font-family: Bubblegum Sans, sans-serif;" class="text-slate-500 text-base text-center font-bold sm:text-lg md:text-xl lg:text-left lg:text-xl lg:mx-2">Duration : 5 Hours / Day</h2>
       <p class='text-sm px-3 text-slate-500 mt-3 text-justify sm:text-base md:text-base lg:text-base lg:px-0 lg:mx-2'>Ping pong Learning Centre brings exceptional daycare services for children operating from Monday to Friday between 9 am to 2 pm. Our daycare program is designed for children of age 2 to 10 years in such a way that it can help them to enhance their creativity. It’s your kid’s Happy Place, feels like home! Where a child learns about sharing, friendship, problem solving, team work, confidence boosting and much more. We provide the children with the opportunity to learn from life perspective stories and interact with other kids in a safe, structured and well-supervised daycare setting which will help them to develop social skills.</p>
     </div>
 </section>
 
 <!--  -->
 <%- include('Layouts/footer.ejs') %>
 
 <!--  -->
 <%- include('Layouts/whatsapp.ejs') %>
 
 <!--  -->
 <%- include('Layouts/toTop.ejs') %>
 
 <script>
    document.getElementById('ourPrograms').classList.remove('hover:border-b-[4px]')
    document.getElementById('ourPrograms').style.borderBottomWidth="4px"
 </script>