<!--  -->
<%- include('Layouts/header.ejs') %>

 <!--  -->
 <section style="background-image: url('/static/images/privacyPolicyBackgroundImage.webp');" id="privacyPolicyBackgroundImage">
    <div>
        <h2 style="background-color: rgba(0, 0, 0, 0.5); font-family: Bubblegum Sans, sans-serif; width: fit-content;" class="font-bold mx-auto px-3 py-1 text-white rounded-full text-[30px] md:text-[40px] lg:text-[50px]">Privacy Policy</h2>
    </div>
 </section>

  <!--  -->
  <section class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex flex-wrap">
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/registration.webp" alt="Registration Procedures and Rules Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          REGISTRATION PROCEDURES AND RULES
                        </h2>
                        <ol class="text-[15px] text-slate-500 mt-3 text-justify md:text-base ml-1">
                          <li>1. Registration Form are to be filled in and submitted to the school Office within 1 week After the time of issue.</li>
                          <li>2. Incomplete or illegible Registration Forms, without photographs will not be processed/ accepted.</li>
                          <li>3. Interaction date for classes LKG and UKG will be given at the time of registration. The school authorities reserve the right to change the date and time of interaction.</li>
                          <li>4. Mere issue of form or Registration does not imply admission. Admission are subject to availability to the seats.</li>
                          <li>5. Photocopy of birth certificate issued by Municipal Corporation or concerned civic authority must accompany the Registration Form for class Nursery & K.G. Photocopy of report card of the last exam passed must be attached with the Admission Form for UKG, along with the TC of last school attended.</li>
                          <li>6. Age should be properly specified on the forms.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/admissionProcedure.webp" alt="Admission Procedure Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          ADMISSION PROCEDURE
                        </h2>
                        <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                          Interaction for LKG and UKG. Nursery admissions are on first come first served basis.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/admissionFormalities.webp" alt="Admission Formalities Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          ADMISSION FORMALITIES
                        </h2>
                        <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base ml-1">
                        <li>1. Successful candidates whose names are included in the list must pay the fees by the dates indicated on list; otherwise admission will automatically stand cancelled.</li>
                        <li>2. Parents are requested to carefully fill and submit the Admission Form, Transportation Form and Medical Fitness at the time of payment of fees for admission.</li>
                        <li>3. The Date of birth of the child is required to be supported by the birth certificate in original issued by the Municipal Corporation /Local bodies as applicable, along with a certified Photostat copy thereof. An affidavit or any other evidence is not acceptable in support of birth certificate.</li>
                        <li>4. The child will be granted the student admission slip only after all forms are duly filled and the admission formalities are completed.</li>
                        <li>5. Parents are to report to the reception counter on the dates specified in the joining instructions, along with the student’s admission slip. The child will be allowed to attend classes when the admission slip is produced.</li>
                        <li>6. Your ward has to report in complete school uniform, along with books and stationery as prescribed by the school.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/nonRefundOfFee.webp" alt="Non Refund of Fees Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          NON REFUND OF FEES
                        </h2>
                        <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                          Fees once paid is not refundable for any reasons whatsoever.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/withdrawlRules.webp" alt="Withdrawl Rules Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          WITHDRAWL RULES
                        </h2>
                        <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base ml-1">
                          <li>1. Application for withdrawal is to be made on a prescribed proforma available in the school office. No child is withdrawn till a written request form parent is put up. One month notice period or one month fee in lieu of notice period is required for withdrawal up-to-June, after that quarter fee is charged in lieu of noticed period and after November full fee to be paid.</li>
                          <li>2. Clearance must be obtained from the fee office, before applying for withdrawal.</li>
                          <li>3. Transfer certificate will be issued after one week of the receipt of the application and clearance of all dues.</li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/busRules.webp" alt="Bus Rules Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          BUS RULES
                        </h2>
                        <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base ml-1">
                          <li>1. Request for using the school transport must be made at the beginning of the session i.e April. No request will be entertained during the mid session.</li>
                          <li>2. Existing routes will continue to ply. Change in routes and stops will not be entertained.</li>
                          <li>3. It will be the sole responsibility of the parents to escort the pupil to and from the fixed bus stops. The bus facility is given at the request, sole risk and responsibility of the parents.</li>
                          <li>4. Transport fee can change when there is a hike in fuel charges. The school will try not to do so during the session until and unless it is necessary.</li>
                          <li>5. Parents are allowed to withdraw their child from the bus by giving one month notice otherwise one month fee will be charged in lieu of the notice period.</li>
                          <li>6. No bus stop will be changed. Parents are to choose the nearest stop.</li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/modification.webp" alt="Right of Alteration / Modification Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          RIGHT OF ALTERATION / MODIFICATION
                        </h2>
                        <p class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                          Management reserves the right to modify, alter and /or include any other terms and conditions that may be deemed fit in the interest of the institution.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/medicalFacility.webp" alt="Medical Facility Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          MEDICAL FACILITY
                        </h2>
                        <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base ml-1">
                          <li>1. The School provides facilities of first aid only.</li>
                          <li>2. The school cannot be held responsible for injury suffered by a child. No reimbursement of charge would be made toward any medical treatment.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/feesProcedure.webp" alt="Fees Procedure Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl ml-1">
                          PROCEDURE FOR FEE PAYMENT
                        </h2>
                        <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base">
                          <li>1. Fee is charged quarterly for every student.</li>
                          <li>2. Fee is payable in cash only at the school counter /bank, on working days as per the fee book details.</li>
                          <li>3. The name of the child, class and admission number should be written at the top of the fee book and on all pages.</li>
                          <li>4. Fee, thereafter, is payable at the school office between 9:30 a.m to 12:00 p.m on the working days at the bank, if applicable 1st to 10th of the specified month.</li>
                          <li>5. Those using school transport must ensure that the correct amounts is filled in the fee book.</li>
                          <li>6. rterly fee is due for payment 1st April, 1st July, 1st October and 1st January (for the last quarter). Date of the payment is 10th of the first month of every quarter/bimonthly. A fine of Rs.100/-per day shall be levied from the 11th of the month in which the school dues are to be paid till the end of the second month.</li>
                          <li>7. case and child is a fee defaulter for more than 2 month, the name of the child is liable to be struck off the rolls. Re-admission may be given at the parents request along with RS-500-00 and other fee dues but only at the sole discretion of the principal.</li>
                          <li>8. Only the registration form should be submitted at the time of registration. Admission Form and other form are required only after the child is granted admission.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/guidelines.webp" alt="After Admission Guidelines for Parents Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          AFTER ADMISSION GUIDELINES FOR PARENTS
                        </h2>
                        <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base ml-1">
                          <li>1. Send the child according to the school timings. When they come late, they miss the morning assembly which is very useful for their character- building.</li>
                          <li>2. Send the child in neat and clean clothes.</li>
                          <li>3. The child must wear only Velcro shoes. No laces allowed.</li>
                          <li>4. Timely cut the nails of your child.</li>
                          <li>5. A napkin (12cm X 12cm) is to be sent on the 1st day of school which would then be deposited. This will be regularly used during lunch.</li>
                          <li>6. When the children are inside the school and the classes are running, no parent would be allowed to enter inside the classrooms.</li>
                          <li>7. Interaction with the Teachers would be allowed only on PTM’s. Do not miss your child’s PTM as this can hamper his/her growth.</li>
                          <li>8. Do not ask for teacher‘s personal contact numbers. Every communication must be done on School Number. +91-7249999934.</li>
                          <li>9. The books must be covered and the name slips should be pasted on them before they are submitted in the school. The stationery items too would be submitted along with the books.</li>
                          <li>10. Name of the child must be written with a permanent marker on their bag, bottle and lunch box.</li>
                          <li>11. Deposit an extra dress along with inner wears on the first day of the school.</li>
                          <li>12. Safety card must be carried by the person who comes to pick the child up daily. In case the parents send somebody else to pick up their child, they must inform the Incharge on the school number an hour before.</li>
                          <li>13. Child must carry the Diary daily. The diary must be checked regularly at home and in case the teachers have communicated anything, the parent must sign the notice after reading it.</li>
                          <li>14. On field trips, the child must come to the school in Uniform.</li>
                          <li>15. The fee must be deposited between 1st to 10th of every month in the school office. Next fee date will be 15th with 100 rupees fine, 20th with 200 rupees fine and 30th with 500rupees fine. Fee will not be taken on any other dates except these.</li>
                          <li>16. Daycare is available up to 2:00 pm on extra charges, if required can contact the office.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="flex relative pb-20 sm:items-center md:w-2/3 md:mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div style="background-color: #ff236c;"
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center text-white relative z-10 title-font font-medium text-sm">
                </div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
                        <img src="/static/images/information.webp" alt="Important Information Image">
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-base md:text-xl">
                          IMPORTANT INFORMATION
                        </h2>
                        <ul class="text-[15px] text-slate-500 mt-3 text-justify md:text-base ml-1">
                          <li>1. No Certificate / Testimonials are to be submitted along with any form unless specified.</li>
                          <li>2. The attached form in only for Registration and not for admission</li>
                          <li>3. No fee is to be submitted with this form</li>
                          <li class="font-bold text-slate-700">Disclaimer:-All the above terms and conditions are subject to amendment from time to time as per the decision of the Management. The decision of the Management shall be final in all matters pertaining to the admission process and policy matters of the school.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <!--  -->
  <%- include('Layouts/footer.ejs') %>

  <!--  -->
  <%- include('Layouts/whatsapp.ejs') %>

  <!--  -->
  <%- include('Layouts/toTop.ejs') %>